*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(#90e0ef, #adb5bd);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.main {
  height: 400px;
  background-image: url("images/smi.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#head {
  padding: 10px 10px;
  border-radius: 10px;
  text-shadow: 0 0 2px rgb(235, 237, 121);
  margin: 110px 0 5px 0;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Tangerine", cursive;
  background: rgba(153, 149, 86, 0.4);
}

#headart {
  padding: 10px 10px;
  border-radius: 4px;
  color: aliceblue;
  text-shadow: 0 0 50px black;
  margin: 50px 0 10px 0;
  max-width: 50rem;
  background: rgba(0, 0, 0, 0.7);
}

#places {
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  margin: 0 20px;
}

.a,.b,.c {
  background-color: #495057;
  margin: 10px 10px;
  border-radius: 10px;
  max-width: 600px;

}



#aa {
  margin: 10px 10px;
  height: 150px;
  width: 200px;
  border-radius: 10px;
}

#bb {
  margin: 10px 10px;
  height: 150px;
  width: 200px;
  border-radius: 10px;
}

#cc {
  margin: 10px 10px;
  height: 150px;
  width: 200px;
  border-radius: 10px;
}

.a:hover {
  transform: scale(1.05);
}
.b:hover {
  transform: scale(1.05);
}
.c:hover {
  transform: scale(1.05);
}

.avatar {
  width: 150px;
  border: 4px #caf0f8 solid;
}

.card {
  margin: 40px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #00b4d8;
  color: #2b2839;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: 8px solid #ade8f4;
  border-top: 8px solid #03045e;
  border-radius: 10px 40px;
  max-width: 400px;
  
}
/* added .card-content to arrange content within card */
.card-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer {
  margin: 20px auto;
}
button {
  border-radius: 4px;
  border: solid 1px black;
  background: rgb(240, 232, 232);
  padding: 5px 10px;
}

button:hover {
  transform: scale(1.1);
}


/* media queries */

@media (max-width:780px) {
  #places{
    flex-direction: column;
    align-items: center;

  }
  .a,.b,.c{
    max-width: 400px;
  }
}
@media (max-width:500px) {
  .card{
    margin: 20px;
  }
}